<div class="metadata-details" ng-if="filteredDetails.length > 0">
    <h4 class="metadata-name">{{details.sectionTitle}}</h4>
    <div ng-if="filteredDetails.length === 0">
        None
    </div>
    <div ng-if="filteredDetails.length > 0">
        <div ng-repeat="field in (filteredDetails | limitTo:getLimit())">
            <h5 ng-if="field.fieldTitle">
                {{field.fieldTitle}}
            </h5>
            <h5 ng-if="!field.fieldTitle">
                {{field.espritKey | displayName}} 
            </h5>
            <div class="value">
                {{field.value | formatTerm :  field.espritKey}} 
            </div>
          
        </div>

        <div class="toggle-more hover" ng-if="filteredDetails.length > limit" ng-click="toggleShowAll()">
            <div ng-if="!showAll">
                Show All
                <span>({{filteredDetails.length}})</span>
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
            <div ng-if="showAll">
                Show Less
                <i class="glyphicon glyphicon-chevron-up"></i>
            </div>
        </div>
    </div>

    <hr />
</div>

